.popup__content{
  display: flex;
  flex-direction: column;
  min-width: 430px;
  min-height: 330px;
  border-radius: 10px;
  background-color: white;
  color:black;
  z-index:9999;
  position: relative;
}
