.elements{
  display: grid;
  justify-content:center;
  grid-template-columns:repeat(auto-fit, 282px);
  column-gap:17px;
  row-gap:20px;
  max-width: 880px;
  margin: 51px auto 67px;
  box-sizing: border-box;
}

@media screen and (max-width:425px) {
  .elements{
    margin: 36px 0 48px;
  }
}
