.photo-card__text{
  grid-area: element__title-text;
  color: #000000;
  margin: 22px auto 28px 21px;
  max-width: 195px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
}
