.elements__title{
  grid-area: element__title;
  background-color: #FFFFFF;
  min-height: 79px;
  display: grid;
  grid-template-areas:
  'element__title-text element__like';
  align-items: center;
}
