.popup__close{
  position: absolute;
  top:-40px;
  right: -40px;
  color: white;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/Close\ Icon.svg);
  background-position: center;
}

.popup__close:hover{
  opacity: 0.6;
}

@media screen and (max-width:425px) {
  .popup__close{
    top:-40px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
